<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/assets/css/style.css" type="text/css" />
    <title>Consume this Burger, Please!</title>
    <script src="https://code.jquery.com/jquery.js"></script>
    {{!-- Not sure if we need the below line or if it should be a different file --}}
    {{!-- <script src="/models/burger.js"></script> --}}
</head>

<body>
    {{{ body }}}
</body>

</html>